@import url('https://fonts.googleapis.com/css?family=Varela+Round');


html {
  font-family: 'Varela Round', sans-serif;
}

@media (min-width: 623px) {
    html {
        font-size: 1em;
    }
}

@media (max-width: 623px) {
    html {
        font-size: 0.8em;
    }
}

hr.style {
  margin-top: 20px;
	border-top: 1px dotted #8c8b8b;
	border-bottom: 1px dotted #fff;
  margin-bottom: -10px;
}

.logo{
  width: 40px;
  height:40px;
  font-size: 3em !important;
}

.header{
  width:100%;
}

.box{
  padding: 5px;
  border-style: dashed;
  border-width: 1px;
  border-color: gray;
}

.method{
  padding: 2px;
}

.return{
  background-color: LightGoldenRodYellow;
  padding: 5px;
}

.anchor{
  margin-top: 10px;
}
