@import url('https://fonts.googleapis.com/css?family=Varela+Round');


html {
  font-family: 'Varela Round', sans-serif;
}

@media (min-width: 623px) {
    html {
        font-size: 1em;
    }
}

@media (max-width: 623px) {
    html {
        font-size: 0.8em;
    }
}

hr.style {
  margin-top: 40px;
	border-top: 1px dotted #8c8b8b;
	border-bottom: 1px dotted #fff;
  margin-bottom: 0px;
}

.logo{
  width: 40px;
  height:40px;
  font-size: 3em !important;
}

.header{
  width:100%;
}

.error_box{
  width:50%;
  margin: auto;
  padding-bottom: 20px;
}

.bold{
  font-weight: 900 !important;
  text-decoration-color: red !important;
  text-align: right;
}

.box{
  padding: 5px;
  border-style: dashed;
  border-width: 1px;
  border-color: gray;
}

.method{
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

.GET{
  background-color: LightSeaGreen;
}

.PUT{
  background-color: PaleVioletRed;
}

.POST{
  background-color: GoldenRod;
}

.DELETE{
  background-color: SteelBlue;
}

.return_response{
  background-color: PapayaWhip;
}

.block_face{
  display: block;
  padding: 10px;
  unicode-bidi: embed;
  word-break: break-all;
  font-family: monospace;
  white-space: pre-wrap;
}

pre {
    background-color: OldLace ;
    margin-top: -10;
    padding-bottom: -100;
    padding-left: 20px;
}

.test {
  font-family: 'Varela Round', sans-serif;
  margin-right: 10px;
  margin-top: 10px;
}

.url_input{
  padding-top: -80px;
  position:relative;
  margin: 0;
  height: 50px;
  overflow: hidden;
}

.indent{
  padding-left: 5px;
}

.anchor{
  margin-top: 10px;
}

.dyno_value{
  height: 40px;
  padding: 0px;
  margin: 0px;
  background-color: AliceBlue;
}
