
@media (min-width: 623px) {
    html {
        font-size: 1em;
    }
}

@media (max-width: 623px) {
    html {
        font-size: 0.8em;
    }
}


/* label focus color */
    .input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
     color: #005eed !important;
    }

/* label underline focus color */
    .input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
     border-bottom: 1px solid #005eed !important;
     box-shadow: 0 1px 0 0 #005eed !important;
    }
