<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/curl-parser-js@0.0.3/dist/parse-curl-js.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.13.0/themes/prism-tomorrow.css"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.13.0/plugins/line-numbers/prism-line-numbers.css"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <nav>
    <div class="nav-wrapper grey darken-3">
      <i class="left large brand-logo logo logo material-icons prefix teal-text text-accent-3">art_track</i>
      <ul id="nav-mobile" class="right">
          <li><a href="badges.html">  </a></li>
          <li><a href="collapsible.html">version 0.0</a></li>
        </ul>
    </div>

  </nav>
  <img class="header" src={{url_for('static', filename='img/header.jpg')}} alt="header">

  <div class="container">
    <h4>Woof API-services</h4>
    <hr flex/></span>
    <div id="app">
      <div class="box">
        <h6>Teste directement le login!</h6>
        <div class="cyan lighten-5 input-field col s6">
            <i class="indent material-icons prefix orange-text text-darken-3">card_membership</i>
            <input v-model="client_id" type="text" placeholder="Client id" class="validate">
            <a class="grey darken-3 lighten-1 waves-effect waves-light btn">Je n'ai pas de client-id</a>
        </div>
        <h6>Récupère directement ton token provider</h6>
        <a class="red lighten-1 waves-effect waves-light btn">
          Login Google
        </a>
        <div class="cyan lighten-5 input-field col s6">
          </br>
          <form action="#">
            <center>
              <label>
                <input v-model="provider" id="google" value="google" class="with-gap" name="group1" type="radio" checked />
                <span class="grey-text text-darken-2">Google</span>
              </label>
              <label class="text-darken-2">
                <input v-model="provider" id="facebook" value="facebook" class="with-gap" name="group1" type="radio" checked />
                <span class="grey-text text-darken-2">Facebook</span>
              </label>
            </center>
          </form>
          <div class="white input-field">
            <i class="indent material-icons prefix orange-text text-darken-3">confirmation_number</i>
            <input v-model="auth_login" placeholder="auth login" name="f" type="text" class="validate">
          </div>
        </div><!-- forms -->
      </div><!-- box -->

      <h2>/me</h2>
      <step red lighten-1
        title       = "Authentification"
        method      = "POST"
        url_root    = {{url_root}}
        route       = "me/oauth"
        use         = "Permet de récupérer un token d'authentification pour les accès personels woof."
        require_oauth = true
        v-bind:curl_cmd   = "{
          'client_id'     : '*client_id',
          'provider'      : '*provider',
          'authlogin'     : '*auth_login',
          'secret'        : '*secret'}"

        v-bind:data = "{
          'client_id'     : 'Le client id secret reçu par l\'administrateur',
          'provider'      : 'le compte sur lequel se logger: google, yahoo, twitter, woof',
          'token'         : 'le token d\'accès fourni par le provider',
          'token_secret'  : '(facultatif) token secret si fourni par le provider (ex twitter)'}"
          m_return    = "{ &quot;error&quot;: { &quot;code&quot;: 0, &quot;info&quot;: &quot;success&quot; }, &quot;oauth&quot;: { &quot;access_token&quot;: &quot;O9wIOVAXivMIJRDWOCSq2NR8079SAV&quot;, &quot;expires_in&quot;: 3600, &quot;refresh_token&quot;: &quot;2BQQjQR5DNurARHrtXAHLnpFvLgWcs&quot;, &quot;scope&quot;: &quot;&quot;, &quot;token_type&quot;: &quot;Bearer&quot; } }">
      </step>
      <hr class="style">
    </br>
      <div class="box">
        <h5 class="center">Teste directement les services</h5>
        <div class="cyan lighten-5 input-field col s6">
            <i class="indent material-icons prefix orange-text text-darken-3">verified_user</i>
            <input v-model="session_token" type="text" placeholder="token bearer" class="validate">
        </div>
      </div><!-- box -->

      <step red lighten-1
        title             = "Profil User"
        method            = "GET"
        url_root          = {{url_root}}
        route             = "me"
        required_bearer   = "true"
        use               = "Renvoie les informations de l'utilisateur."
        return_id         = "return_id"
        require_login     = true
        m_return    = "{ &quot;error&quot;: { &quot;code&quot;: 0, &quot;info&quot;: &quot;success&quot; }, &quot;me&quot;: { &quot;mail&quot;: null, &quot;name&quot;: null, &quot;seed&quot;: &quot;causal-locust&quot; } }">
      </step>
      <step red lighten-1
        title           = ""
        method          = "PUT"
        url_root        = {{url_root}}
        route           = "me"
        required_bearer = "true"
        use             = "Modifie les informations de l'utilisateur."
        require_login   = true
        v-bind:curl_cmd = "{
          'name'   : 'your_name',
          'mail'   : 'your_mail@gmail.com'}"
        v-bind:data = "{
          'name'   : 'Le nom de l\'utilisateur',
          'mail'   : 'Le mail de l\'utilisateur'}"
        m_return    = "{ &quot;error&quot;: { &quot;code&quot;: 0, &quot;info&quot;: &quot;success&quot; }, &quot;me&quot;: { &quot;mail&quot;:&quot;your_mail@gmail.com&quot;, &quot;name&quot;: &quot;your_name&quot;, &quot;seed&quot;: &quot;causal-locust&quot; } }">
      </step>
      <step red lighten-1
        title             = ""
        method            = "DELETE"
        url_root          = {{url_root}}
        route             = "me"
        required_bearer   = "true"
        require_login     = true
        use               = "Supprime l'utilisateur. Nécessite de se reloger pour avoir une nouvelle session"
        m_return    = "{ &quot;error&quot;: { &quot;code&quot;: 0, &quot;info&quot;: &quot;success&quot; }, &quot;me&quot;: { } }">
      </step>

      <h2>/pets</h2>
      <step red lighten-1
        title             = "List Pets"
        method            = "GET"
        url_root          = {{url_root}}
        route             = "pets"
        required_bearer   = "true"
        use               = "Retourne la liste des animaux de l'utilisateur"
        require_login     = true
        m_return    = "{ &quot;error&quot;: { &quot;code&quot;: 0, &quot;info&quot;: &quot;success&quot; }, &quot;me&quot;: { } }">
      </step>
      <step red lighten-1
        title             = ""
        method            = "POST"
        url_root          = {{url_root}}
        route             = "pets"
        required_bearer   = "true"
        use               = "Rajoute un pet."
        require_login     = true
        m_return    = "{ &quot;error&quot;: { &quot;code&quot;: 0, &quot;info&quot;: &quot;success&quot; }, &quot;me&quot;: { } }">
      </step>
      <h2>/pet</h2>
      <step red lighten-1
        title             = "Détail pet"
        method            = "GET"
        url_root          = {{url_root}}
        route             = "pet/<pet_name>"
        required_bearer   = "true"
        use               = "Retourne un pet en particulier."
        require_login     = true
        m_return    = "{ &quot;error&quot;: { &quot;code&quot;: 0, &quot;info&quot;: &quot;success&quot; }, &quot;me&quot;: { } }">
      </step>
      <step red lighten-1
        title             = "   "
        method            = "PUT"
        url_root          = {{url_root}}
        route             = "pet/<pet_name>"
        required_bearer   = "true"
        use               = "Modifie un pet."
        require_login     = true
        m_return    = "{ &quot;error&quot;: { &quot;code&quot;: 0, &quot;info&quot;: &quot;success&quot; }, &quot;me&quot;: { } }">
      </step>

        <h2>/#woof-name</h2>
    </div><!-- box -->
    <!-- code erreurs -->
    <div class="error_box">
      <table>
        <thead>
           <tr>
               <th><h6 class="right">Error</h6></th>
               <th><h6 class="left">info<h6></th>
           </tr>
         </thead>

         <tbody>
           <tr>
             <td><div class="bold">-1</div></td>
             <td>No op</td>
           </tr>
           <tr>
             <td><div class="bold">0</div></td>
             <td>Success</td>
           </tr
           <tr>
             <td><div class="bold">10</div></td>
             <td>Session invalid</td>
           </tr>
           <tr>
             <td><div class="bold">20</div></td>
             <td>Schema error</td>
           </tr>
         </tbody>
      </table>
    </div> <!-- error box -->
  </div>

  <footer class="page-footer cyan darken-4">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2018 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
  </footer>

  <script src={{url_for('static', filename='doc.js')}}></script>
  <script src="https://cdn.jsdelivr.net/npm/prismjs@1.13.0/prism.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/prismjs@1.13.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href={{url_for('static', filename='doc.css')}}></link
</body>
</html>
